<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="config.xsd">
	<global collect-modified-files="false" 
			client-default-visit-time="10"
			capture-network-packets-malicious="false"
			capture-network-packets-benign="false"
			send-exclusion-lists="false"
        	p_m="0.0012"
	/>
	
	<exclusion-list monitor="file" file="FileMonitor.exl" />
	<exclusion-list monitor="process" file="ProcessMonitor.exl" />
	<exclusion-list monitor="registry" file="RegistryMonitor.exl" />
	
	<!--virtual-machine-server type="mock-vm-server" address="127.0.0.1" port="902"
		username="User" password="Password">
		<virtual-machine vm-path="dummyPath"
						 client-path="dummyClientPath"
						 username="User"
						 password="Password"/>
	</virtual-machine-server-->

	<virtual-machine-server type="vmware-server" address="192.168.1.10" port="902"
		username="User" password="Password">
		<virtual-machine vm-path="C:\Virtual Machines\winxpsp2\winxpsp2.vmx"
						 client-path="C:\Progra~1\capture\CaptureClient.bat"
						 username="Administrator"
						 password="password"/>
	</virtual-machine-server>
</config>
